@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .btn {
        &_costing {
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .btn {
        &_promo {
            width: 100%;
        }
        &_promo-search {
            width: 100%;
        }
    }
}
@media (max-width: 576px) {
    
}
