@media (max-width: 1200px) {

}
@media (max-width: 992px) {
    .btn {
        &_form {
            &_costing, &_contacts {
                width: 100%;
            }
            &_modal {
                margin-top: 21px;
            }
        }
    }
}
@media (max-width: 768px) {
    .btn {
        &_promo {
            width: 100%;
        }
        &_for {
            width: 100%;
            &_filter {
                justify-content: space-between;
                padding: 0 16px;
                font-size: 12px;
            }
        }
        &_project {
            &_main {
                width: 141px;
                height: 34px;
                font-size: 12px;
            }
            &_video {
                margin-top: 4px;
                border-radius: 10px;
                width: 100%;
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 576px) {
    
}
