@media (max-width: 992px) {
    .costing {
        margin-top: 120px;
        padding: 28px 0 21px 0;
        &_wrapper {
            flex-direction: column;
            gap: 39px;
        }
        &_descr {
            width: 100%;
        }
        &_form {
            width: calc(100% - 30px);
            padding: 19px 15px;
            input {
                width: calc(100% - 40px);
            }
        }
        &_text {
            margin-top: 7px;
            font-size: 16px;
            line-height: normal;
        }
        &_submit {
            flex-direction: column;
            gap: 16px;
            &_descr {
                width: 278px;
            }
        }
    }
}
