@media (max-width: 1200px) {
    .cycle {
        padding: 74px 0 93px 0;
        &_items {
            gap: 23px;
        }
        &_item {
            padding: 44px 15px;
            height: 302px;
            .title {
                margin-top: 23px;
            }
            .descr {
                margin-top: 13px;
                width: 100%;
            }
        }
        &_feedback {
            padding-top: 49px;
            text-align: center;
            &_wrapper {
                padding-top: 31px;
                flex-direction: column;
            }
            &_content {
                align-items: center;
                width: 100%;
                min-height: 363px;
                &_profile {
                    width: 120px;
                    height: 120px;
                }
            }
            &_gratitude {
                width: 100%;
                min-height: 285px;
            }
            .title {
                padding-top: 13px;
            }
            .descr {
                padding-bottom: 0;
            }
        }
        .nobg {
            background: none;
        }
        .under {
            text-decoration: underline;
        }
    }    
}
