@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    section, footer {
        overflow: hidden;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container {
        width: calc(100% - 30px);
    }
}

@import 'title';
@import 'button';
@import 'shapes';
@import 'modal';
@import 'header';
@import 'promo';
@import 'steps';
@import 'spheres';
@import 'decisions';
@import 'about';
@import 'region';
@import 'reviews';
@import 'licenses';
@import 'costing';
@import 'footer';
@import 'parameters';
