@media (max-width: 1200px) {
    .shapes {
        &_tusk {
            &_spheres {
                display: none;
            }
            &_footer {
                top: -390px;
                right: -940px;
            }
            &_parameters {
                bottom: -1190px;
                left: -138px;
            }
            &_gallery {
                display: block;
                bottom: -690px;
                left: -138px;
            }
            &_cycle {
                top: 494px;
                left: 55px;
            }
        }
        &_opal {
            &_about {
                display: none;
                &_2 {
                    display: none;
                }
            }
        }
    }
}
