@media (max-width: 1200px) {
    .title {
        font-size: 54px;
        &_24 {
            font-size: 22px;
        }
        &_40 {
            font-size: 40px;
        }
        &_120 {
            font-size: 110px;
        }
    }
}
@media (max-width: 992px) {
    .title {
        font-size: 48px;
        &_24 {
            font-size: 22px;
        }
        &_40 {
            font-size: 40px;
        }
        &_120 {
            font-size: 100px;
        }
    }
}
@media (max-width: 768px) {
    .title {
        font-size: 42px;
        &_24 {
            font-size: 22px;
        }
        &_40 {
            font-size: 40px;
        }
        &_120 {
            font-size: 90px;
        }
    }
    .subtitle {
        font-weight: 400;
        opacity: 0.5;
    }
}
@media (max-width: 576px) {
    .title {
        font-size: 36px;
        &_24 {
            font-size: 20px;
        }
        &_40 {
            font-size: 40px;
        }
        &_120 {
            font-size: 80px;
        }
    }
}
@media (max-width: 350px) {
    .title {
        font-size: 28px;
        &_24 {
            font-size: 18px;
        }
        &_40 {
            font-size: 40px;
        }
        &_120 {
            font-size: 60px;
        }
    }
}
