.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	background: none;
	&_header {
		height: 50px;
		padding: 16px;
		border: 1px solid var(--Gradient-01, #6DDCFF);
		color: #FFF;
		font-family: 'Inter', sans-serif;
		font-size: 16px;
		font-weight: 400;
	}
	&_promo {
		width: 202px;
		height: 60px;
		border: none;
		background: var(--Linear, linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%));
		color: #F5F5F5;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}
	&_promo-search {
		width: 369px;
		gap: 13px;
		align-self: stretch;
		border: 2px solid #303737;
		background: rgba(255, 255, 255, 0.01);
		backdrop-filter: blur(7.5px);
		color: var(--gray-500, #71717A);
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
	}
}
