.cycle {
    padding: 107px 0 168px 0;
    &_items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .border {
            border: 2px solid #2d2d2d;
            background: none;
        }
    }
    &_item {
        padding: 45px 23px 42px 33px;
        border-radius: 20px;
        height: 211px;
        background: rgba(#131313, 0.4);
        .title {
            margin-top: 13px;
        }
        .descr {
            margin-top: 19px;
            width: 780px;
        }
    }
    &_feedback {
        padding-top: 108px;
        &_wrapper {
            position: relative;
            z-index: 1;
            padding-top: 44px;
            display: flex;
            gap: 79px 86px;
        }
        &_content {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 28px;
            width: 583px;
            height: 447px;
            &_profile {
                width: 165px;
                height: 165px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &_titles {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 9px;
                img {
                    width: 115px;
                    height: 18px;
                }
            }
        }
        &_title {
            font-weight: 600;
            font-size: 20px;
            color: #fff;
        }
        &_text {
            font-weight: 400;
            font-size: 14px;
            color: #a1a1aa;
        }
        &_gratitude {
            width: 531px;
            max-height: 420px;
            border-radius: 10px;
        }
        .title {
            padding-top: 44px;
        }
        .descr {
            opacity: 1;
            padding-bottom: 34px;
        }
    }
}
