.licenses {
	margin-top: 164px;
	&_title {
		margin-top: 67px;
	}
	&_items {
		margin-top: 69px;
		display: flex;
	}
	&_item {
		width: 190px !important;
		height: 300px;
		border-radius: 10px;
		cursor: pointer;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.slick-track {
		gap: 8px;
	}
}
