.region {
	margin-top: 161px;
	min-height: 781px;
	&_map {
		position: absolute;
		z-index: 0;
		right: -357px;
		width: 1260px;
		height: 687px;
	}
	&_content {
		position: relative;
		z-index: 1;
		margin-top: 141px;
		width: 616px;
	}
	&_count {
		margin-top: 37px;
		width: 348px;
		height: 83px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 13px;
		border: 2px solid rgba(#fff, 0.2);
		border-radius: 60px;
		&_text {
			width: 250px;
			font-weight: 400;
			font-size: 18px;
			color: #a1a1aa;
		}
	}
}
