.reviews {
	&_subtitle {
		margin-top: 69px;
		margin-bottom: 14px;
	}
	&_items {
		margin-top: 37px;
		margin-bottom: 56px;
		display: flex;
	}
	&_item {
		min-width: 359px;
		height: 139px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 14px;
		padding-left: 25px;
		border: 1px solid #383838;
		border-radius: 10px;
		&_text {
			font-size: 14px;
			color: rgba(#fff, 0.5);
		}
		img {
			width: 249px;
			height: 39px;
			opacity: 0.8;
		}
	}
	&_text {
		font-size: 14px;
	}
	.slick-track {
		gap: 14px;
	}
}
