.shapes {
	position: absolute;
	z-index: 0;
	&_wrapper {
		position: relative;
	}
	&_tusk {
		opacity: 0.7;
		&_steps {
			top: -74px;
			right: -530px;
		}
		&_spheres {
			top: 178px;
			left: -1026px;
		}
		&_decisions {
			top: -91px;
			right: -590px;
			&_2 {
				top: 425px;
				left: -1026px;
			}
		}
	}
	&_opal {
		opacity: 0.8;
		&_about {
			top: 43px;
			left: -987px;
			&_2 {
				top: -243px;
				right: -987px;
			}
		}
	}
}
