.spheres {
	position: relative;
	height: 772px;
	margin-top: 124px;
	&_title {
		position: relative;
		margin-top: 10px;
		width: 928px;
		z-index: 2;
	}
	&_text {
		position: relative;
		margin-top: 7px;
		width: 495px;
		z-index: 2;
	}
	&_lines {
		width: 1512px;
		height: 402px;
		position: relative;
		overflow: hidden;
		top: -130px;
		left: -156px;
		z-index: 1;
		white-space: nowrap;
		&_1 {
			position: absolute;
			left: -23px;
			opacity: 0.3;
		}
		&_2 {
			position: absolute;
			top: 127px;
			left: -315px;
			opacity: 0.1;
			color: #D9D9D9;
		}
		&_3 {
			position: absolute;
			top: 254px;
			left: -918px;
			opacity: 0.3;
		}
	}
}
