.title {
	color: #FFF;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	&_16 {
		font-size: 16px;
		line-height: 24px;
		color: #e1e1e1;
	}
	&_24 {
		font-size: 24px;
	}
	&_30 {
		font-size: 30px;
		font-weight: 500;
	}
	&_40 {
		font-size: 40px;
		font-weight: 500;
		text-transform: none;
	}
	&_48 {
		font-weight: 400;
		font-size: 48px;
		line-height: 58px;
		color: #fff;
	}
	&_120 {
		font-size: 120px;
		font-weight: 700;
	}
	&_stroke {
		font-weight: 700;
		color: rgba(0, 0, 0, 0.5);;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #848484;
	}
	&_gradient {
		background: linear-gradient(98deg, #6DDCFF 17.63%, #7F60F9 115.95%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.subtitle {
	margin-top: 40px;
	color: #CCC;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.6px;
	text-transform: lowercase;
	&_dim {
		margin-top: 0;
		color: #5e5e5e;
	}
}

.descr {
	opacity: 0.5;
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
}

.contacts_link {
	font-weight: 500;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
